@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --animate: all 200ms ease-in-out;
  --color-primary: #D87D4A;
  --color-primary-hover: #FBAF85;
  --color-dark: #141414;
  --color-secondary: #F1F1F1;
  --color-light: #FAFAFA;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-black-hover: #4C4C4C;
  --color-text: #7D7D7D;
  --color-line: #CFCFCF;
  --color-danger: #CD2C2C;
  --container: 1110px;
  --cat-top: 81px;
  --ff: "Manrope", sans-serif;
  --gap: 30px;
  --gap-sm: 16px;
  --margin: 160px;
}

* {
  box-sizing: border-box;
}
body {
  background: var(--color-light);
  color: var(--color-text);
  font-family: var(--ff);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
  &.modal-opened {
    height: 100%;
    overflow: hidden;
  }
}
img { max-width: 100%; }
b, strong { font-weight: 700; }
.color-primary { color: var(--color-primary); }
a {
  color: var(--color-primary);
  &:hover { text-decoration: none; }
}

/* headers */
h1, h2, h3, h4, h5, h6 {
  color: var(--color-black);
  font-weight: 700;
  text-transform: uppercase;
}
h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}
h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}
h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}
h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}
h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}
h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}
.overline {
  color: var(--color-primary);
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.subtitle {
  color: var(--color-primary);
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 0 0 16px;
  text-transform: uppercase;
}


/* btns */
.more-link::before { background-image: url(./assets/svg/chevron.svg); }


/* forms */
.radioBtn {
  background: url(./assets/svg/radio.svg) -9999px no-repeat;
  &:focus { background-position: center; }
}


/* grid */
.container {
  margin: 0 auto;
  width: var(--container);
  &-cat { padding-top: var(--cat-top); }
}
.grid {
  display: grid;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);
  @for $i from 1 through 12 {
    &-#{$i} { grid-template-columns: repeat($i, 1fr); }
  }
  &-narrow {
    grid-column-gap: var(--gap-sm);
    grid-row-gap: 24px;
  }
}


/* Responsive */
@media screen and (max-width: 1160px) {
  :root {
    --container: 992px;
  }
}

@media screen and (max-width: 1020px) {
  :root {
    --container: 690px;
    --cat-top: 60px;
    --gap: 12px;
    --margin: 120px;
  }
  .grid-tb-1 { grid-template-columns: repeat(1, 1fr); }
}

@media screen and (max-width: 750px) {
  :root {
    --container: auto;
    --cat-top: 48px;
    --margin: 90px;
  }
  .container { padding-left: 24px; padding-right: 24px; }
  .grid-mb-1 { grid-template-columns: repeat(1, 1fr); }
  h3 { font-size: 24px; line-height: 36px; letter-spacing: 0.86px; }

  
}


